.cell
{
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 1px;
	border: 1px solid;
	border-color: black;
	text-align: center;
}

.closed
{
	background-color: gray;
}

.flag
{
	color : red;
}